pkgbase = memoria
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Bumblebee-3/memoria
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-base
	makedepends = qt6-declarative
	makedepends = sqlite
	source = memoria::git+file:///home/bumblebee/Desktop/memoria/memoria
	sha256sums = SKIP

pkgname = memoria-daemon
	pkgdesc = memoria daemon (systemd user service)
	depends = gcc-libs
	depends = sqlite

pkgname = memoria-ui
	pkgdesc = memoria Qt6 UI
	depends = gcc-libs
	depends = qt6-base
	depends = qt6-declarative
	depends = memoria-daemon
